<%= render 'shared/navbar' %>

<h1>Public Shelves</h1>
<% @public_shelves.each do |shelf| %>
  <div>
    <h2><%= link_to shelf.title, shelf_path(shelf) %></h2>
    <p><%= shelf.description %></p>
  </div>
<% end %>

<h1>My Shelves</h1>
<% @my_shelves.each do |shelf| %>
  <div>
    <h2><%= link_to shelf.title, shelf_path(shelf) %></h2>
    <p><%= shelf.description %></p>
    <%= link_to "Edit", edit_shelf_path(shelf) %> |
    <%= link_to "Delete", shelf_path(shelf), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<div class="actions">
  <%= link_to 'Create New Shelf', new_shelf_path, class: 'btn btn-primary' %>
  <%= link_to 'Add New Book', new_book_path, class: 'btn btn-secondary' %>
</div>