<%= render 'shared/navbar' %>

<h1>My Books</h1>

<%= form_with url: books_path, method: :get, local: true do %>
  <%= label_tag :query, "Search by tags:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.name, book_path(book) %>
      <%= image_tag book.image, size: "50x50" if book.image.attached? %>
    </li>
  <% end %>
</ul>
